.wp-form {
	padding: 25px 50px;
	height: 100%;
	overflow: auto;
}

#educationalDisciplineSemesterStructure {
	padding: 25px;
}

.wp-form label {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.wp-form p {
	font-size: 18px;
}

.wp-form input,
.wp-form textarea,
.wp-form select {
	display: block;
	width: 100%;
	font-size: 17px;
	padding: 5px;
}

.wp-form textarea {
	resize: vertical;
}

.mini-block {
	padding-bottom: 0;
}

.mini-block-title {
	font-size: 20px !important;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.weekly-hours-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px 15px;
}

.weekly-hours-label {
	grid-column: 1 / 3;
}

.educational-discipline-characteristic {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}

.add-new-education-form-btn:disabled {
	background-color: lightgrey;
	color: #ffffff;
	padding: 10px;
	border: 0px;
	border-radius: 5px;
}

.fullTimeBlock,
.correspondenceBlock {
	display: none;
}

.lesson-themes-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 15px;
	margin-bottom: 15px;
	padding: 5px 25px;
}

.lesson-theme-title {
	grid-column: 1 / 3;
	font-size: 19px;
}

.lesson-themes-btn-block {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
	margin-bottom: 15px;
}

.additional-lessons-themes-block {
	grid-column: 1/3;
}

.additional-lesson-themes-block {
	display: grid;
	grid-template-columns: 15% 50% 20% 1fr;
	column-gap: 10px;
	margin-left: 15px;
	align-items: end;
	margin-bottom: 5px;
}

.additional-lesson-title {
	grid-column: 1 / 3;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}

.lesson-themes-block:nth-child(even) {
	background-color: ghostwhite;
}

.hours-block {
	display: grid;
	column-gap: 15px;
}

.hours-block-one-column {
	grid-template-columns: 1fr;
}

.hours-block-two-columns {
	grid-template-columns: 1fr 1fr;
}

.hours-block-title {
	grid-column: 1/3;
	font-weight: bold;
}

.additional-hours-block-for-header {
	grid-column: 3;
}

.additional-hours-block-title {
	margin-bottom: 0;
}

.lesson-name-label {
	grid-column: 1;
}

.remove-lesson-btn {
	align-self: center;
	height: 30px;
	line-height: 1px;
}

.deleting-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.deleting-modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	width: 25%;
}

.close-modal {
	color: #aaa;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 35px;
	line-height: 25px;
}

.close-modal:hover,
.close-modal:focus {
	color: black;
	text-decoration: none;
}

.deleting-modal-title {
	font-size: 22px;
	margin-bottom: 15px;
}

.deleting-modal-desc {
	font-size: 18px;
	margin-bottom: 20px;
}

.deleting-btns-container {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
}

.approve-deleting-btn {
	background-color: white;
	color: #05a2ae;
	border: 2px solid #05a2ae;
	font-weight: bold;
}

.coursework-hours-block {
	display: grid;
	column-gap: 15px;
}

.coursework-assesment-components-block {
	display: grid;
	grid-template-columns: 2fr 1fr 100px;
	column-gap: 15px;
	row-gap: 10px;
}

.coursework-assesment-components-block label {
	margin-bottom: 0;
}

.coursework-assesment-components-block-title {
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	grid-column: 1 / 4;
}

.coursework-assesment-components-inputs {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: 2fr 1fr 100px;
	column-gap: 15px
}

table {
	padding: 0;
	vertical-align: middle;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: solid 1px black;
	border-collapse: collapse;
	padding: 3px;
}

.table-input-cell {
	padding: 0;
}

.table-input-cell input {
	border: 0;
	-moz-appearance: textfield;
	appearance: textfield;
}

.table-input-cell input::-webkit-inner-spin-button {
	opacity: 1;
	display: block;
}

.table-input-cell input:focus-visible {
	outline: 0;
}

.points-column {
	width: 65px;
	text-align: center;
}

.disabled-cell {
	background-color: #ccc;
}

.coursework-container {
	margin-bottom: 15px;
}

.choices__inner {
	background-color: white !important;
	border-color: #777 !important;
	padding: 0 !important;
	min-height: 30px !important;
}

.choices__list--single {
	padding: 5px 16px 5px 5px !important;
}

.choices__list--single .choices__item {
	font-size: 17px !important;
	font-weight: normal !important;
}

.choices[data-type*=select-one] .choices__input option {
	font-size: 17px !important;
	font-weight: normal !important;
}

.choices__list--single {
	padding: 0;
}

.choices__item {
	font-weight: normal;
	font-size: 17px !important;
}

.ql-editor ol,
.ql-editor ul {
	font-size: 17px;
}

.ql-toolbar.ql-snow {
	border-color: #777 !important;
}

.ql-container.ql-snow {
	border-color: #777 !important;
}

.margin-top {
	margin-top: 15px;
}