div,
p {
	line-height: 7.41mm;
}

.span {
	display: inline;
	white-space: pre-wrap;
}

div.center,
td.center {
	text-align: center;
}

div.right {
	text-align: right;
}

.justify {
	text-align: justify;
}

.small-bottom-margin {
	margin-bottom: 10mm;
}

.large-bottom-margin {
	margin-bottom: 30mm;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

table {
	padding: 0;
	font-size: 14pt;
	background: #FFFFFF;
	vertical-align: middle;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: solid 0.3mm black;
	border-collapse: collapse;
	padding: 1mm;
}

.table-without-borders,
.table-without-borders th,
.table-without-borders td,
.table-without-borders tr {
	border-collapse: collapse;
	border: 0;
}

.table-without-borders th {
	padding-left: 0;
	text-align: left;
	vertical-align: top;
}

.doc-approved-block {
	width: 45%;
	margin-left: 55%;
}

table.approved-table {
	margin-bottom: 35mm;
}

div.topic-title-page-start {
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-bottom: 7.41mm;
}

div.topic-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 3mm;
	margin-bottom: 7.41mm;
}

.sub-topic-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	line-height: 7.41mm;
}

div.copyright {
	text-align: right;
}

.none-border-left {
	border-left: 0;
}

th.approved-first-col,
td.approved-first-col {
	width: 18%;
}

th.approved-second-col,
td.approved-second-col {
	width: 45%;
}

th.approved-third-col,
td.approved-third-col {
	width: 25%;
}

th.approved-forth-col,
td.approved-forth-col {
	width: 12%;
}

th {
	font-weight: bold;
	text-align: center;
}

.indent {
	text-indent: 45px;
}

div.title-placeholder {
	font-size: 10pt;
}

.rotated-total-cell {
	font-size: 12pt;
	padding: 0;
	padding-left: 7px;
}

.rotated-total-cell div {
	margin-top: 15px;
	rotate: 90;
	font-size: 12pt;
}

.coursework-table {
	width: 60%;
	margin-left: 20%;
}

.assessment-criteria-table th,
.assessment-criteria-table td {
	font-size: 12pt;
}

.empty {
	height: 0;
	margin: 1px;
}