.semester-btn {
	background-color: #428bca;
}

.theme-btn {
	background-color: #5cb85c;
}

.modules-container {
	margin-bottom: 20px;
	margin-left: 30px;
}

.themes-container {
	margin-bottom: 20px;
	margin-left: 30px;
}

.semester-title-container,
.module-title-container,
.theme-title-container {
	display: grid;
	align-items: center;
}

.semester-title-container {
	grid-template-columns: 180px 1fr 180px;
}

.module-title-container,
.theme-title-container {
	grid-template-columns: 160px 1fr 160px;
}

.semester-title,
.module-title,
.theme-title {
	grid-column-start: 2;
	margin-bottom: 0
}

.semester-data-block,
.module-data-block,
.theme-data-block {
	display: grid;
	grid-template-columns: 1fr 5fr;
	gap: 15px;
}

.semester-data-block {
	margin-top: 10px;
}

.educational-forms-container {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	padding: 0 30%;
}

.educational-forms-container label {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 10px;
	align-items: center;
}

.wp-form input.checkbox {
	margin: 0;
	width: 20px;
	height: 20px;
}
