.semester-btn {
	background-color: #428bca;
}

.theme-btn {
	background-color: #5cb85c;
}

.modules-container {
	margin-bottom: 20px;
	margin-left: 30px;
}

.themes-container {
	margin-bottom: 20px;
	margin-left: 30px;
}

.semester-title-container,
.module-title-container,
.theme-title-container {
	display: grid;
	align-items: center;
}

.semester-title-container {
	grid-template-columns: 180px 1fr 180px;
}

.module-title-container,
.theme-title-container {
	grid-template-columns: 160px 1fr 160px;
}

.semester-title,
.module-title,
.theme-title {
	grid-column-start: 2;
	margin-bottom: 0
}

.semester-data-block {
	display: grid;
	grid-template-columns: 2fr 4fr;
	gap: 15px;
	margin-top: 10px;
}

.theme-data-block {
	display: grid;
	grid-template-columns: 1fr 5fr;
	gap: 15px;
}

.module-data-block {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 15px;
	margin-top: 10px;
}

.semester-data-block .label-with-checkbox,
.module-data-block .label-with-checkbox {
	display: grid;
	justify-items: center;
}

.educational-forms-container {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	justify-items: center;
	column-gap: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.individual-tasks-container {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-items: center;
	column-gap: 15px;
	margin-bottom: 10px;
}

.custom-tasks-container {
	display: grid;
	grid-template-columns: max-content 2fr;
	column-gap: 15px;
}

.module-controls-container {
	display: grid;
	grid-template-columns: max-content 3fr;
	column-gap: 15px;
}

.educational-forms-label,
.individual-tasks-label,
.custom-tasks-label,
.module-controls-label {
	font-weight: bold;
}

.educational-forms-container label,
.individual-tasks-container label,
.module-controls-container label {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 10px;
	align-items: center;
	font-weight: normal;
}

.individual-tasks-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 15px;
}

.custom-tasks-block {
	display: grid;
	gap: 15px;
	margin-bottom: 15px;
}

.module-controls-block {
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 15px;
}

.additional-task-components-inputs {
	display: grid;
	grid-template-columns: 1fr max-content;
	column-gap: 15px;
}

.wp-form input.checkbox {
	margin: 0;
	width: 20px;
	height: 20px;
}