.validation-container {
	padding: 10px;
	overflow: scroll;
	height: 100vh;
	overflow-x: hidden;
}

.validation-container p {
	margin-bottom: 10px;
	border: 2px solid #e6a204;
	background-color: #feeec8;
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
}

.validation-title {
	font-size: 1.9em;
	text-align: center;
	margin-bottom: 10px;
}

.validation-invalid-title {
	color: #d9534f;
}

.validation-valid-title {
	color: #5cb85c;
}

.validation-note {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 10px;
}

.visible {
	display: block;
}

.unvisible {
	display: none;
}

.not-valid-bg {
	background-color: #feeec8 !important;
}

.validation-topic-title {
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}