body {
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    display: block;
    margin-top: 5px;
    width: 100%;
}

p {
    margin: 0;
}

.block-container {
    margin-bottom: 10px;
}

.block {
    border: 1px dashed darkgrey;
    padding: 10px;
}

.block input {
    box-sizing: border-box;
}

.mini-block {
    border-bottom: 1px dashed darkgrey;
    margin-bottom: 5px;
}

.mini-block:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}